@model List<PraktickaMaturita.Models.Poznamka>;

@{
    ViewData["Title"] = "Domů";
}
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;
@using Microsoft.AspNetCore.Http;
@model List<PraktickaMaturita.Models.Poznamka>;

@{
    string? prihlaseny = HttpContextAccessor.HttpContext.Session.GetString("Prihlaseny");
}
@if(prihlaseny == null)
{

    <h1 class="page-title">Vítejte!</h1>
    <p class="prihlas-se">Pokud chcete vytvářet poznámky <a asp-area="" asp-controller="Uzivatel" asp-action="Prihlasit">přihlašte se</a>, nebo si <a asp-area="" asp-controller="Uzivatel" asp-action="Registrovat">vytvořte účet</a>.</p>
}
else
{
    <h1 class="page-title">Vítám tě zde, @prihlaseny !</h1>
    <a asp-area="" asp-controller="Poznamky" asp-action="Pridat" class="pridat">+ Přidat poznámku</a>
    <a asp-area="" asp-controller="Poznamky" asp-action="Vypsat" class="pridat">Vypsat poznámky</a>
}

