@{
    ViewData["Title"] = "Uživatel";
}
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;
@using Microsoft.AspNetCore.Http;

@{
    string? prihlaseny = HttpContextAccessor.HttpContext.Session.GetString("Prihlaseny");
    string? logMail = HttpContextAccessor.HttpContext.Session.GetString("PrihlasenyMail");
    int? identita = HttpContextAccessor.HttpContext.Session.GetInt32("Identita");
}
@if(prihlaseny == null)
{
    <h1 class="page-title">Vítejte!</h1>
    <p class="prihlas-se">Pokud chcete vytvářet poznámky <a asp-area="" asp-controller="Uzivatel" asp-action="Prihlasit">přihlašte se</a>, nebo si <a asp-area="" asp-controller="Uzivatel" asp-action="Registrovat">vytvořte účet</a>.</p>
}
else
{
    <h2>Nastavení účtu</h2>
    <input type="text" value="@prihlaseny" disabled />
    <input type="text" value="@logMail" disabled />
    <a style="text-decoration: none;" href="/Uzivatel/Odhlasit">Odhlásit</a>
    <a style="text-decoration: none; color: red;" href=/Uzivatele/Smazat/@identita>Smazat</a>
}
