@{
    Layout = "_Layout";
    ViewData["Title"] = "Přihlásit se";
}

<form action="/Uzivatel/Prihlasit" method="post">
    <input type="text" name="jmeno" placeholder="Jméno" /><br />
    <input type="password" name="heslo" placeholder="Heslo" /><br />
    <input type="submit" value="Přihlásit" />
</form>
