<form action="/Uzivatel/Smazat" method="post">
    <h3>Pokud chcete smazat váš účet zadejte heslo...</h3><br />
    <input type="password" name="potvrzeniHeslem" placeholder="Heslo" /><br />
    <input type="submit" value="Smazat účet" />
</form>