@{
    ViewData["Title"] = "Smazat účet";
}
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;
@using Microsoft.AspNetCore.Http;
@model List<PraktickaMaturita.Models.Poznamka>;

@{
    string? prihlaseny = HttpContextAccessor.HttpContext.Session.GetString("Prihlaseny");
}
@if(prihlaseny == null)
{
    <div>
        <h2>Nemůžete nic smazat, pokud nejste přihlášeni...</h2>
    </div>
}
else 
{
<div>
    <form action="/Uzivatel/Smazat" method="post">
        <h2>OPRAVDU CHCETE NAVŽDY SMAZAT VÁŠ ÚČET?</h2>
        <input type="submit" value="Smazat" />
    </form>
</div>
}