html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.pridat {
    margin: 0;
    padding: 0;
    background-color: #3474eb;
    color: white;
    padding: 10px 30px;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 20px;
    text-transform: uppercase;
    font-family: Bahnschrift, sans-serif;
    position: relative;
    text-align: center;
    left: 00%;
    transform: translate(-50%);
    text-decoration: none;
}
.pridat:hover {
    color: #3474eb;
    background-color: white;
    border: 1px solid grey;
    transition: all .4s ease-in-out;
}
.page-title {
    text-align: center;
    padding: 20px 0 40px 0;
    text-transform: uppercase;
}
#container {
    position: relative;
    width: 90%;
    margin: 0 auto;
}
.prihlas-se {
    text-align: center;
}
.prihlas-se a {
    text-decoration: none;
    color: tomato;
}
.poznamka {
    padding: 30px;
    border: 2px solid black;
    border-radius: 8px;
    width: 500px;
    height: 300px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin: 10px 0;
}
.dulezita-poznamka {
    padding: 30px;
    border: 2px solid red;
    border-radius: 8px;
    width: 500px;
    height: 300px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin: 10px 0;
}