@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = @ViewData["name"];
}


<div>
    <div>
        <p>@Model.DatumVlozeni</p>
        <h1 class="page-title">@ViewData["name"]</h1>
        <p>@Model.Popis</p>
    </div>
</div>